@using Northwind.EntityModels
@{
    ViewData["Title"] = "Home Page";
    string currentItem = "";
    Todo[]? todos = ViewData["todos"] as Todo[];
}

<div class="text-center">
    <p>
        <h4>To Dos</h4>
        @if ((todos is null) || (!todos.Any()))
        {
        <p>No to dos found.</p>
        }
        else
        {
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Due By</th>
                    <th>Is Complete?</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (Todo todo in todos)
                    {
                    <tr>
                        <td>@todo.Id</td>
                        <td>@todo.Title</td>
                        <td>@todo.DueBy</td>
                        <td>@todo.IsComplete</td>
                    </tr>
                    }
            </tbody>
        </table>
        }
    </p>
</div>

